<% layout('../layout') %>
<style>
    body {
        <% if(message.tone==="positive") {
            %>background-color: lightblue;
            <%
        }

        else if(message.tone==="negative") {
            %>background-color: lightcoral;
            <%
        }

        else {
            %>background-color: lightgreen;
            <%
        }

        %>
    }
</style>
<h1><%= name %> has shaken the Magic 8-Ball!</h1>
<p>
    <%= name %> asked the magic 8-Ball:
    <%= question %>
</p>
<p>The magic 8-Ball responded with:
    <%= message.message %>
</p>
<a href="/magic/question"><button>Ask another question!</button></a>